/* You can add global styles to this file, and also import other style files */

/* Importing Bootstrap SCSS file. */
@import "~bootstrap/scss/bootstrap";

body {
  color: #024f80;
}

a {
  color: #024f80;
}

b {
  font-weight: bold !important;
}

a.text-dark:hover,
a.text-dark:focus {
  color: #024f80 !important;
}

.text-dark {
  color: #024f80 !important;
}

.btn-primary {
  color: #fff;
  background-color: #024f80 !important;
  border-color: #024f80 !important;
}

.btn-primary-light {
  color: #024f80 !important;
  background-color: white;
  border-color: #024f80 !important;

  &:hover {
    color: white !important;
    background-color: #024f80;
  }
}

.btn-primary,
.btn-primary-light {
  &:focus {
    box-shadow: 0 0 0 0.2rem rgb(57 139 191) !important;
  }
}

.cursor-pointer:hover {
  cursor: pointer;
}

.form-select-sm {
  padding-top: 0.25rem;
  padding-bottom: 0.25rem;
  padding-left: 0.5rem;
  font-size: 0.875rem;
}

.form-select {
  padding: 0.375rem 2.25rem 0.375rem 0.75rem;
  border-radius: 0.25rem;
}

.loading {
  opacity: 0.3;
}

.table-hover:hover {
  cursor: pointer !important;
}

.header-login {
  padding: 5px 20px;
  background-color: #e5edf2;
  font-size: 14px;
  text-align: right;
}

.me-3 {
  margin-right: 1rem !important;
}

.fs-4 {
  font-size: calc(1.275rem + 1.3vw) !important;
}

.header-spacing {
  letter-spacing: 15px;
}

.active {
  font-weight: bold;
  border-bottom: 2px #024f80 solid;
  color: #024f80 !important;
}
